// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    // padding-top: 80px;
    padding-bottom: 120px;
}

.container {
    width: 90%;
}

.menu-bottom {
    margin-bottom: 5px;
}

.menu-holder a {
    // color: #009688;
    color: #ffffff;
    display: block;
    padding: 5px;
    font-weight: bold;
}

.menu-holder a:hover, .menu-holder a.active {
    color: #FF5E50;
    // border-top: 4px solid #FF5E50;
}

.menu-holder {
    margin:10px auto;
    text-align: center;
    border:3px solid red;
    border-radius:50%;
    width:115px;
    height:115px;
    padding:5px;
    background:#40C1A6;
    font-size: 11px;
}

.panel-success {
    border-color: rgb(38, 185, 154);
}

.panel-success .panel-heading {
    color: #ffffff;
    background-color: rgba(38, 185, 154, 0.88);
    border-color: rgb(38, 185, 154);
}

.panel-title {
    font-size: 18px;
}

.panel, .alert, .panel-heading {
    border-radius: 0;
}

.alert-success {
  color: #ffffff;
  background-color: rgba(38, 185, 154, 0.88);
  border-color: rgba(38, 185, 154, 0.88); }

.alert-info {
  color: #E9EDEF;
  background-color: rgba(52, 152, 219, 0.88);
  border-color: rgba(52, 152, 219, 0.88); }

.alert-warning {
  color: #E9EDEF;
  background-color: rgba(243, 156, 18, 0.88);
  border-color: rgba(243, 156, 18, 0.88); }

.alert-danger,
.alert-error {
  color: #E9EDEF;
  background-color: rgba(231, 76, 60, 0.88);
  border-color: rgba(231, 76, 60, 0.88); }


.bootgrid-table td, .bootgrid-table th>.column-header-anchor>.text {
    white-space: normal;
}

img.cover {
    height: 100%;
    width: 100%;
    object-fit:cover;
    -o-object-fit:cover;
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 1px;
    padding-left: 1px;
}
